<div class="contact">
  <div class="contact-text">
    <div>
      <p class="send-msg-text">Envie uma mensagem!</p> 
      <p class="contact-finaltxt">Possui alguma proposta ou pergunta?</p>
      <p class="contact-finaltxt">Vá em frente e envie!</p>
    </div>
  </div>

  <div class="textfield">
    <div class="top-field">
      <div>
        <label for="name">Seu nome: </label>
        <input
          class="name_field"
          type="text"
          id="name"
          name="name"
          required
          size="10"
        />
      </div>
      <div style="width: 200px"></div>
      <div>
        <label for="email">Seu email: </label>
        <input
          class="email_field"
          type="text"
          id="email"
          name="email"
          required
          size="10"
        />
      </div>
    </div>
    <div class="msg-div">
      <div>
        <label for="msg">Sua mensagem: </label>
        <textarea class="msg_field" rows="1" cols="25" name="msg"></textarea>
      </div>
    </div>

    <div class="send-btn-style">
      <div class="send-btn"><p>Enviar</p></div>
    </div>
  </div>
</div>
