.contact {
  padding-top: 15%;
}

.contact-text {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
}

.top-field {
  display: flex;
  justify-content: center;
  padding-top: 8%;
}
.top-field label {
  display: block;
  font-size: 20px;
  color: white;
}
.name_field {
  font-family: inherit;
  width: 360px;
  border: 0;
  border-bottom: 2px solid rgb(233, 233, 233);
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
}

.email_field {
  font-family: inherit;
  width: 360px;
  border: 0;
  border-bottom: 2px solid rgb(233, 233, 233);
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
}

.msg-div {
  display: flex;
  justify-content: center;
  padding-top: 8%;
}

.msg-div label {
  display: block;
  font-size: 20px;
  color: white;
}
.msg_field {
  font-family: inherit;
  width: 700px;
  height: 100px;
  border: 0;
  border-bottom: 2px solid rgb(233, 233, 233);
  outline: 0;
  font-size: 1.3rem;
  color: white;
  padding: 7px 0;
  background: transparent;
  resize: none;
}

.send-btn{
  background-color: #5B5271;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.send-btn p{
  background-color: #5B5271;
  color: white;
  font-size: 25px;
  padding: 15px 50px 5px 50px;
}

.send-btn-style{
  padding-top: 60px;
  display: flex;
  justify-content: center;
  padding-bottom: 300px;
}

@media (max-width: 900px){
  .contact-text{
    text-align: start;
    line-height: 100%;
  }
  .send-msg-text{
    font-size: 30px;
  }
  .contact-finaltxt{
    font-size: 15px;
  }
  .contact{
    
  }
  .name_field{
    width: fit-content;
  }
  .email_field{
    width: fit-content;
  }

  .msg_field{
    width: fit-content;
  }
}
