<div>
  <div class="home-text">
    <p class="irish-font" style="font-size: 60px; padding-bottom: 30px">Olá!</p>
    <p class="jolly-font" style="font-size: 35px">Sou o joão Henrique</p>
    <p class="irish-font" style="font-size: 20px">mas podeme chamar de</p>
    <p class="jolly-font" style="font-size: 35px">Jão</p>
    <p class="irish-font" style="font-size: 18px">Estudante de Análise e Desenvolvimento de Sistemas</p>
    <p class="jolly-font" style="font-size: 25px">e</p>
    <p class="irish-font" style="font-size: 20px">Desenvolvedor</p>
  </div>
</div>
