
@media (max-width: 767px) {

    .home-text{
        text-align: center;
        color: rgb(255, 255, 255);
        padding-top: 80px;
        font-weight: 500;
    }

    .home-text a{
        color: inherit; 
    }
    
    .fa-icons{
        display:flex;
        justify-content: space-evenly;
        padding-top: 20px;
    }
  }
  