<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div>
  <div class="home-text">
    <p style="font-size: 60px; padding-bottom: 22px">Olá!</p>
    <p style="font-size: 30px">Sou o João Henrique</p>
    <p style="font-size: 15px">Estudante e cientista de dados</p>
    <div class="fa-icons">
      <a target="_blank" href="https://github.com/Ja1zinh0/"
        ><i class="fa fa-github" style="font-size: 65px"></i
      ></a>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/joao-henrique-jorge-carlos/"
      >
        <i class="fa fa-linkedin-square" style="font-size: 65px"></i>
      </a>
      <a
        target="_blank"
        href="https://www.youtube.com/channel/UCzjzqPJQmu9Fl9Qg1qZpLqw"
      >
        <i class="fa fa-youtube-play" style="font-size: 65px"></i>
      </a>
    </div>
  </div>
</div>
