
@media (max-width: 767px) {

    .home-text{
        text-align: center;
        color: rgb(255, 255, 255);
        padding-top: 80px;
        font-weight: 500;
    }

    .home-text a{
        color: inherit; 
    }

    .fa-icons{
        display:flex;
        justify-content: space-evenly;
        padding-top: 20px;
    }
    .rectangle {
        height: 50px;
        width: 110px;
        background-color: #2A2B47;
        border-radius: 25px;
        display: flex;
        justify-content:center;
        align-items: center;
        font-size: 16px;
    }

    .rectangle-center{
        padding-top: 75px;
        display: flex;
        justify-content: center;
    }

    .rectangle-center a{
        text-decoration: none;
    }


    .arrow{
        color: #2A2B47;
        font-size: 30px;
    }

    .arrow-pos{
        padding-top: 10px;
        animation: arrow-floating 1s ease-out infinite;
    }

    @keyframes arrow-floating {
        0% {
          transform: translateY(0px);
        }
        25% {
          transform: translateY(8px);
        }
      }
  }
  