<div class="about">
  <div class="about-background">
    <div class="about-text">
      <div class="about-text-align">
        <p class="about-title">Sobre mim</p>
        <p class="about-centerText">
          Tenho 21 anos e sou apaixonado por tecnologia desde os 12. Atualmente
          curso Análise e Desenvolvimento de Sistemas e nas horas vagas estudo
          para me aprimorar profissionalmente.
        </p>

        <p style="padding-top: 100px; font-size: 28px">Sou proeficiente em:</p>
        <div class="prof-boxes">
          <div class="box-styles">
            <div class="prof-box">
              <div class="front-box">
                <p>Front-End</p>
              </div>
              <div>
                <p>Angular</p>
                <p>HTML</p>
                <p>CSS</p>
              </div>
            </div>
          </div>
          <div class="box-styles">
            <div class="prof-box">
              <div>
                <p>Mobile</p>
              </div>
              <div>
                <p>Flutter</p>
                <p>Dart</p>
              </div>
            </div>
          </div>
          <div class="box-styles">
            <div class="prof-box">
              <div class="back-box">
                <p>Back-End</p>
              </div>
              <div>
                <p>Python</p>
                <p>C++</p>
                <p>SQL</p>
              </div>
            </div>
          </div>
          <div class="box-styles">
            <div class="prof-box">
              <div>
                <p>Tecnologias</p>
              </div>
              <div>
                <p>Git</p>
                <p>Github</p>
                <p>Figma</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
