<header>
  <div class="menu-right">
    <div
      class="menu_icon"
      [class.menu_iconClass]="menu_icon_variable"
      (click)="openMenu()"
    >
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <a href="#home" class="left-write">
    < Ja1 />
  </a>
  <div class="menu" [class.menuClasse]="menuVariable">
    <ul>
      <li><a href="main#home">Home</a></li>
      <li><a href="main#about">Sobre</a></li>
      <li><a href="main#projects">Projetos</a></li>
      <li><a href="main#contact">Contato</a></li>
    </ul>
  </div>
</header>
