header {
  background-color: #2a2b47;
  overflow: hidden;
  height: 40px;
  font-size: large;
  position: fixed;
  width: 100%;
}

.left-write {
  float: left;
  align-content: start;
  align-items: start;
  padding: 8px 0 0 12px;
  background-color: #2a2b47;
  font-size: 25px;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.left-write:hover {
  color: #e9bcf7;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.menu ul {
  padding: 8px 0 0 0;
  margin: 0;
  float: right;
  background-color: #2a2b47;
}

.menu ul li {
  display: inline-block;
  background-color: #2a2b47;
  padding-left: 12px;
  padding-right: 10px;

  text-transform: uppercase;
}
.menu ul li a {
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  color: #ffffff;
  background-color: #2a2b47;
}
.menu ul li a:hover {
  color: #e9bcf7;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}


@media (max-width: 767px) {
  header {
    background-color: #2a2b47;
    overflow: hidden;
    font-size: 13px;
  }

  .menu-right {
    float: right;
    padding: 7px 8px 10px 0;
    background-color: #2a2b47;
  }
  .menu {
    position: fixed;
    top: 34px;
    right: -768px;
    width: 35%;
    height: 100%;
    background: #2a2b47;
    transition: 0.4s ease-in-out;
    overflow: hidden;
  }

  .menu ul {
    background-color: #2a2b47;
    align-content: center;
    align-items: center;
    display: contents;
  }

  .menu li {
    align-content: center;
    align-items: center;
  }
  .menu ul li {
    display: block;
    text-align: center;
    margin: 0;
    padding: 10px 20px 10px 26px;
    border-bottom: 1px solid #2a2b47;
    background-color: #2a2b47;
  }
  .menu ul li a {
    background-color: #2a2b47;
    text-shadow: 2px 3px 2px #252422;
    font-size: 15px;
  }
  .menu_icon {
    display: inline-block;
    position: relative;
    background-color: #2a2b47;
  }

  .menu_icon span {
    width: 30px;
    height: 4px;
    background: #ffffff;
    display: block;
    transition: 0.2s ease-in-out;
  }
  .menu_icon span:nth-child(2) {
    margin: 4px 0;
  }
  .menu_iconClass span:nth-child(2) {
    display: none;
  }

  .menu_iconClass span:nth-child(1) {
    transform: rotate(40deg);
  }

  .menu_iconClass span:nth-child(3) {
    transform: rotate(-40deg);
    margin-top: -3px;
  }

  .menuClasse {
    right: 0;
    transition: 0.4s ease-in-out;
  }
  
}
