<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="home">
  <div class="home-text">
    <p class="ola-style">Olá!</p>
    <p class="pres-style">Sou o João Henrique</p>
    <p class="me-style">Estudante e desenvolvedor</p>
    <p>*Site em desenvolvimento*</p>
    <div class="fa-icons">
      <a target="_blank" href="https://github.com/Ja1zinh0/"
        ><i class="fa fa-github"></i
      ></a>
      <a
        target="_blank"
        href="https://www.linkedin.com/in/joao-henrique-jorge-carlos/"
      >
        <i class="fa fa-linkedin-square"></i>
      </a>
      <a
        target="_blank"
        href="https://www.youtube.com/channel/UCzjzqPJQmu9Fl9Qg1qZpLqw"
      >
        <i class="fa fa-youtube-play"></i>
      </a>

      <a target="_blank" href="mailto:joaohenriquejorgecarlos@gmail.com">
        <i class="fa fa-envelope" aria-hidden="true"></i
      ></a>
    </div>
    <div class="resume-button-div">
      <div class="resume-button">
        <a
          target="_blank"
          href="https://drive.google.com/file/d/1c5VXJiXdenSL6uTmoIbi8QeSGCvKls3X/view?usp=sharing"
          >Meu Currículo</a
        >
      </div>
    </div>
  </div>
  <figure>
    <img class="brain" src="assets/brain.gif" />
  </figure>
</div>
