<div class="proj-title">
  <p>Meus projetos</p>
</div>

<div>
  <div class="projects">
    <div style="padding-right: 180px">
      <div class="proj-screen1">
        <img src="assets/maismix_tela.png" />
      </div>
    </div>

    <div>
      <div class="proj-screen2">
        <p>WIP</p>
      </div>
    </div>

    <div style="padding-left: 180px">
      <div class="proj-screen3">
        <p>WIP</p>
      </div>
    </div>
  </div>
  <div class="vermais">
    <div class="vermais-btn"><a href="">Ver mais projetos</a></div>
  </div>
</div>
