<div class="proj-title" id="projects">
  <p>Meus projetos</p>
</div>

<div>
  <div class="projects">
    <div class="proj-centerdiv">
      <div class="proj-screen1">
        <a routerLink="/maismix">
          <img src="assets/maismix_tela.png" />
        </a>
      </div>
    </div>

    <div class="proj-centerdiv">
      <div class="proj-screen2">
        <p>WIP</p>
      </div>
    </div>

    <div class="proj-centerdiv">
      <div class="proj-screen3">
        <p>WIP</p>
      </div>
    </div>
  </div>
  <div class="vermais">
    <div class="vermais-btn"><a href="">Ver mais projetos</a></div>
  </div>
</div>
