@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;1,100;1,200&display=swap');
*{
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	background-color: #5B5271;
	font-family: 'JetBrains Mono', monospace;
}
html, body { height: 100%; }
body { margin: 0;}
